/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body{
  height:100%;
  margin:0;
  font-size: 16px;
}

h1, h2, h3{
  font-family: "Roboto";
}

p{
  font-family: "Montserrat";
}

.dash{
  width:16em;
}



.content{
  position: absolute;
  top: 80px;
  left: 15em;
  right: 5em;
  font-size: 1.5em;
  /*width: 200px;
  height: 100px;*/
}

.btn{
  width:120px;
  height:36px;
  text-align: center;
  margin: auto;
}

.navBack{
  background-color: #1982C4;
  height: auto;
}

.navBack a{
  color: white;
}

.logout{
  margin-top: 60em;
  /*margin: 0;*/
}

/* Logo */
.alignTitle{
  padding-left: .5em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
}

/* Table */
#v-pills-tabContent table{
  /* border-radius: 5px; */
   /* margin: 0px auto; */
   /* float: none; */
}

/* Account Page */

#vertical-2 thead, #vertical-2 tbody{
              display:inline-block;
          }

/* Contact */
#contact {
  background-image: url("assets/contact.png");
  padding: 10% 0%;
}
