@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$main-color: #1982C4;
$secondary-color: #707070;

@import "../node_modules/bootstrap/scss/bootstrap";

.navbar {
    background-color: $main-color !important;
    .nav-link,.navbar-brand {
        color: white;
    }
    .nav-link:hover {
        text-decoration: underline;
        text-decoration-color: white;
    }
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4 {
    color: $main-color;
}

p {
    font-family: $secondary-font;
    color: $secondary-color;

}

.btn {
    margin-top: 5%;
}

.btn, a {
    font-family: $secondary-font;
}

.btn-primary {
    color: #fff;
    background-color: #1982C4;
    border-color: #1982C4;
}

.bg {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#home {
    background-image: url("assets/home.png");
    padding: 18% 0%;
}

#home {
    h1, h3 {
        color: white;
    }
}

#home-content {
    margin: 5% 0%;
}

#about {
    padding: 10%;
}

#contact {
    background-image: url("assets/contact.png");
    padding: 10% 0%;
}

.contact-bkg {
    background-color: white;
    color: #707070;
    padding: 10% 0 10% 3%;
}

footer {
    background-color: $main-color;
    padding: 4% 0%;
    p {
        color: white;
    }
    a, #footer-content {
        padding: 2% 5% 0% 2%;
    }
}

i {
    color: white;
    margin-left: 5%;
}

#footer-content {
    padding: 5% 0%;
}

.form {
    margin-top: 5%;
    margin-bottom: 5%;
}

#notesForm, #injuriesForm, #confirmationForm {
    display: none;
}

.formContent {
    margin: 8%;
}

#pagination-forms,.userForm {
    padding: 3%;
}

.form-i {
    color: $main-color;
}

.page-item.active .page-link {
    color: #fff;
    background-color: $main-color;
    border-color: $main-color;
}

.page-link {
    color: $main-color;
    background-color: #fff;
    border: 1px solid $main-color;
}

// dashboard

// HTML and body
#html, #body{
    height: 100%;
    margin:0;
    min-height: 100%;
  }

  .wrapper{
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
  }

  .navBack{
    background-color: $main-color;
    height: 100%;
    position: absolute;  
  }

  .dash{
    width:17em;
  }

  .nav-child{
    background-color: #217eba !important;
    color: white;
  }

  .navBack .nav-link:focus{
    background-color: $secondary-color !important;
 }

 /* Panel*/
.content{
    position: absolute;
    top: 80px;
    left: 15em;
    right: 5em;
    font-size: 1.5em; 
    /*width: 200px;
    height: 100px;*/
  }

  .navBack a{
  color: white;
} 

  .logout{
    margin-bottom: 0;
    // background-color: #217eba !important;
    // color: white;
  }
  
  /* Logo */
    .alignTitle{
    padding-left: .5em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
  }

  /* Account Page */

  /* Contact */

  /* Subtitles */
    .hTitle{
    padding-bottom: 1.5em;
  }

  